.list{
    border: 5px #45c525;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
}

li{
    border: 2px #757575;
    margin: 5px 2px;
}

/*
li a{

}

li a:active{

}

li a:hover{

}

*/